* {
    scroll-behavior: smooth;
    margin: 0;
    max-width: 100%;
    padding: 0;
    box-sizing: border-box;
}

/* nav lijst layout */
ul {
    color: var(--primary-text-color);
    display: flex;
    justify-content: right;
    gap: 70px;
    position: sticky;
    margin: 0em 3em 1em 1em;
    transition: transform .3s ease-in-out;
    list-style: none;
    z-index: 99;
    text-decoration: none;
}

/* nav op hover */
ul :hover {
    transform: scale(1.1);
    text-decoration: underline;
}

/* nav */
li {
    text-decoration: none;
    color: var(--primary-text-color);
}

/* logo plaatje */
.logo {
    margin: 0px;
    width: 100px;
    position: sticky;
    left: 2rem;
    top: 2rem;
}

/* header */
header {
    background-image: url(./assets/varen.jpg);
    background-size: cover;
    height: 80vh;
    padding: 0em 0em 5em 0em;
}

/* tekst onder titel */
header h2 {
    color: var(--primary-text-color);
    z-index: 90;
    position: relative;
    text-align: center;
    padding: 0em 0em 5em 0em;
}

/* nav linkjes */
header a {
    z-index: 99;
    position: relative;
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: clamp(1rem, 0.9559rem + 0.2353vw, 1.25rem);
}

/* gradient over background image */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85vh;
    background: var(--image-gradient);
    z-index: 90;
}

/* titel header */
h1 {
    text-align: center;
    color: var(--primary-text-color);
    padding: 1em 0em 0em 0em;
    z-index: 99;
    position: relative;
    font-size: clamp(4.0625rem, 3.4559rem + 3.2353vw, 7.5rem);
}

/* span in h1 */
h1 span {
    padding: 20px;
}

/* layout voor alle blokjes */
.blok {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    min-width: 25rem;
    margin: 30px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: 400;
    margin-top: -20px;
    max-width: 1400px;
}

/* titels van blokjes */
.kleur1,
.kleur2,
.kleur3,
.kleur4 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: left;
}

.kleur1 {
    color: var(--secondary-background-color);
}

.kleur2 {
    color: var(--secondary-highlight-color);
}

.kleur3 {
    color: var(--primary-background-color);
}

.kleur4 {
    color: var(--primary-highlight-color);
}

.tekstkleur1 {
    color: var(--secondary-background-color);
}

.tekstkleur2 {
    color: var(--secondary-highlight-color);
}

.tekstkleur3 {
    color: var(--primary-background-color);
}

.tekstkleur4 {
    color: var(--primary-highlight-color);
}

/* tekst in blokje */
p {
    margin-bottom: 20px;
}

/* layout tekst in blokjes */
.content {
    width: 80%;
}

/* plaatje instellingen */
.image-container img {
    width: 80%;
    margin: 1em;
    border-radius: 15px;
    object-fit: cover;
}

/* tekst stukje over buurtcampus oost */
.buurtcampus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    color: var(--secondary-text-color);
    border-radius: 15px;
    max-width: 100%;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
}

/* titel kopje buurtcampus */
.buurtcampus h2 {
    font-size: clamp(2.1875rem, 1.392rem + 2.6515vw, 4.375rem);;
    color: var(--secondary-text-color);
    margin-bottom: 2%;
}

.buurtcampus .highlight {
    color: var(--primary-highlight-color);
    font-size: clamp(2.1875rem, 1.392rem + 2.6515vw, 4.375rem);
    padding: 2%;
}

/* tekst buurtcampus */
.buurtcampus p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 10;
    color: var(--secondary-text-color);
    padding: 1%;
}

/* Sterke tekstkleur 'klik hier' */
.buurtcampus p strong {
    color: var(--main-color-green);
}

/* foto buurtcampus */
.shape-container img {
    width: 70%;
    height: auto;
    object-fit: cover;
    position: sticky;
    right: 0;
    bottom: 0;
}

/* layout hele stuk */
.agendablok {
    background-color: var(--third-background-color);
    margin: 50;
    padding: 1%;
    position: relative;
}

.agendablok h2 {
    color: var(--primary-background-color);
    font-weight: 700;
}

/* scroll menu layout */
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    background-image: url(./assets/greenworkshop.jpg);
    display: inline-block;
    color: var(--primary-background-color);
    text-align: center;
    margin: 0;
    padding: 10%;
    text-decoration: none;
    width: 50%;
    transition: transform .3s;
    margin: 15px;
    border-radius: 15px;
}

div.scrollmenu a:hover {
    color: var(--primary-highlight-color);
    transform: scale(1.1);
}

/* footer */
.footer {
    background-color: var(--primary-background-color);
    padding: 1rem;
    position: relative;
}

.footer .footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
}

.footer .footer-column {
    flex: 1;
    text-align: center;
}

.footer .footer-column h3 {
    font-size: 1.5rem;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
    font-weight: bold;
}

.footer .footer-column p,
.footer .footer-column a {
    font-size: 1rem;
    color: var(--secondary-text-color);
    margin-bottom: 1rem;
    text-decoration: none;
}

.footer .footer-column ul {
    list-style-type: none;
    display: block;
}

.footer .footer-column ul li {
    margin-bottom: 1em;
}

.footer .footer-column ul li a:hover {
    text-decoration: underline;
    color: var(--primary-highlight-color);
}

/* Media Queries */

/* Tablet (max-width: 768px) */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 3rem;
        padding-top: 15rem;
    }

    ul {
        display: none;
    }

    .blok {
        flex-direction: column;
        margin: 20px auto;
    }

    .image-container img {
        width: 90%;
    }

    .buurtcampus {
        flex-direction: column;
    }

    .buurtcampus .shape-container {
        width: 100%;
    }
}

/* Mobile (max-width: 480px) */
@media screen and (max-width: 480px) {
    header h1 {
        font-size: 2rem;
        padding-top: 15rem;
    }

    header h2 {
        font-size: 1.8rem;
    }

    ul {
        display: none;
    }

    .blok {
        margin: 10px auto;
    }

    h2 {
        font-size: 2rem;
    }

    .footer .footer-container {
        flex-direction: column;
        text-align: center;
    }
}