* {
    scroll-behavior: smooth;
    margin: 0;
    max-width: 100%;
    padding: 0;
    box-sizing: border-box;
}

/* nav lijst layout */
ul {
    color: var(--text-off-white);
    display: flex;
    justify-content: right;
    gap: 70px;
    position: sticky;
    margin: 0em 3em 1em 1em;
    transition: transform .3s;
    list-style: none;
    z-index: 99;
    text-decoration: none;
}

/* nav op hover */
ul :hover {
    transform: scale(1.1);
    text-decoration: underline;
}

/* nav */
li {
    text-decoration: none;
    color: var(--text-off-white);
}

/* logo plaatje */
.logo {
    margin: 0px;
    width: 100px;
    position: sticky;
    left: 2rem;
    top: 2rem;
}

/* header */
header {
    background-image: url(/assets/varen.jpg);
    background-size: cover;
    height: 80vh;
    padding: 0em 0em 5em 0em;

    /* tekst onder titel */
    h2 {
        color: var(--text-off-white);
        z-index: 90;
        position: relative;
        text-align: center;
        padding: 0em 0em 5em 0em;
    }
}

/* nav linkjes */
header a {
    z-index: 99;
    position: relative;
    color: var(--text-off-white);
    text-decoration: none;
    font-size: clamp(1rem, 0.9559rem + 0.2353vw, 1.25rem);
}

/* gradient over background image */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85vh;
    background: var(--image-gradient);
    z-index: 90;
}

/* titel header */
h1 {
    text-align: center;
    color: var(--text-off-white);
    padding: 1em 0em 0em 0em;
    z-index: 99;
    position: relative;
    font-size: clamp(4.0625rem, 3.4559rem + 3.2353vw, 7.5rem);
}

h1 [span] {
    padding: 20px;
}