* {
    scroll-behavior: smooth;
    margin: 0;
    max-width: 100%;
    padding: 0;
    box-sizing: border-box;
}

/* nav lijst layout */
ul {
    color: var(--primary-text-color);
    display: flex;
    justify-content: right;
    gap: 70px;
    position: sticky;
    margin: 0em 3em 1em 1em;
    transition: transform .3s ease-in-out;
    list-style: none;
    z-index: 99;
    text-decoration: none;
}

/* nav op hover */
ul :hover {
    transform: scale(1.1);
    text-decoration: underline;
}

/* nav */
li {
    text-decoration: none;
    color: var(--primary-text-color);
}

/* logo plaatje */
.logo {
    margin: 0px;
    width: 100px;
    position: sticky;
    left: 2rem;
    top: 2rem;
    transition: transform .3s ease-in-out;
}

.logo :hover {
    transform: scale(1.1);
}

/* header */
header {
    background-image: url(../assets/wp11667512-monstera-leaf-wallpapers.jpg);
    background-size: cover;
    height: 80vh;
    padding: 0em 0em 5em 0em;

    /* tekst onder titel */
    h2 {
        color: var(--primary-text-color);
        z-index: 90;
        position: relative;
        text-align: center;
        padding: 0em 0em 5em 0em;
    }
}

/* nav linkjes */
header a {
    z-index: 99;
    position: relative;
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: clamp(1rem, 0.9559rem + 0.2353vw, 1.25rem);
}

/* gradient over background image */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85vh;
    background: var(--image-gradient);
    z-index: 90;
}

/* titel header */
.titel {
    text-align: center;
    color: var(--primary-text-color);
    padding: 1em 0em 0em 0em;
    z-index: 99;
    position: relative;
    font-size: clamp(4.0625rem, 3.4559rem + 3.2353vw, 7.5rem);
}

h1 [span] {
    padding: 20px;
}

/* layout hele blok */
.blok-groenebieb, .blok-partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
    margin: 30px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: 400;
    max-width: 1600px;
}

.blok-groenebieb {
    background-color: var(--primary-background-color);
    color: var(--secondary-background-color);
    margin-top: -50px;
}

.blok-partners {
    background-color: var(--secondary-background-color);
    color: var(--primary-background-color);
    margin-top: 0px;
}

.blok-groenebieb h2, .blok-partners h2 {
    font-size: 5.5em;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: left;
}

.blok-groenebieb p, .blok-partners p {
    margin-bottom: 20px;
    padding: 40px;
    width: 80%;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 60px;
    width: 45%;
    padding: 20px;
}

.photo {
    background-color: var(--third-background-color);
    border-radius: 10px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.photo:hover {
    opacity: 0.8;
}

/* layout tekst in blokjes */
.content {
    width: 60%;
}

/* plaatje instellingen */
.image-container img {
    width: 75%;
    margin: 1em;
    border-radius: 15px;
    object-fit: cover;
}

/* tekst stukje over samenwerken */
.samenwerken {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    color: var(--secondary-text-color);
    border-radius: 15px;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
}

.samenwerken h2 {
    font-size: 5em;
    margin-bottom: 20px;
}

.samenwerken .highlight {
    color: var(--primary-highlight-color);
    font-size: 4rem;
}

.samenwerken p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
    padding: 20px;
}

.samenwerken p strong {
    color: var(--primary-highlight-color);
}

.shape-container img {
    width: 500px;
    height: auto;
    object-fit: cover;
}

/* footer */
.footer {
    background-color: var(--primary-background-color);
    padding: 1rem;
}

.footer .footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer .footer-column {
    flex: 1;
    text-align: center;
}

.footer .footer-column h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.footer .footer-column p, .footer .footer-column a {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
}

.footer .footer-column ul {
    list-style-type: none;
}

.footer .footer-column ul li {
    margin-bottom: 1em;
}

.footer .footer-column ul li a:hover {
    text-decoration: underline;
}

/* Media Queries */

/* Tablet (max-width: 768px) */
@media screen and (max-width: 768px) {
    ul {
        display: none;
    }
    .blok-groenebieb, .blok-partners {
        flex-direction: column;
    }
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .samenwerken {
        flex-direction: column;
    }
    .image-container img {
        width: 90%;
    }
    header h1, .blok-groenebieb h2, .blok-partners h2 {
        font-size: 3rem;
    }
}

/* Mobile (max-width: 480px) */
@media screen and (max-width: 480px) {
    ul {
        display: none;
    }
    header h1, .blok-groenebieb h2, .blok-partners h2 {
        font-size: 2rem;
    }
    .footer .footer-container {
        flex-direction: column;
        text-align: center;
    }
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
